<img src="https://twistedsifter.files.wordpress.com/2013/05/animated-gifs-of-fighting-game-backgrounds-48.gif?w=768&h=384" style='position:fixed;top:0px;left;0px;width:100%;height100%;z-index:-1;'>

<audio controls autoplay>
 <source src="http://66.90.93.122/ost/street-fighter-2-turbo/tqwbodpekf/27.-cammy-stage.mp3" type="audio/mpeg">
 Your browser does not support the audio element.
</audio>


<html>
<head>
<style>
  h1{
    color:red;
    font-family: "Feast of Flesh BB";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 300%;
  }

  h2{
    color:red;
    font-family: "Monsters Attack!";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 150%
  }

  p{
    color: black;
    font-family: "Monsters Attack!";
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    font-size: 100%
  }
</style>
</head>


<div style="position:fixed;top:30px;left:30px">
    <h1>Player 1</h1>
    <p><%= @player1 %> - <%= @hp_player1 %> HP</p>
</div>

<div style="position:fixed;top:30px;right:30px">
    <h1>Player 2</h1>
    <p><%= @player2 %> - <%= @hp_player2 %> HP</p>
</div>

  <div>
    <iframe src="//giphy.com/embed/Jmv56riXdGoHm" style='position:fixed;bottom:65px;left:30px' width="239.49895615866387" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></a>
    <iframe src="//giphy.com/embed/xUPGcFU8QyGj1GLt3a" style='position:fixed;bottom:65px;right:30px' width="248.74493927125508" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></a>
  </div>


</html>
