
<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css" type="text/css">
    <audio autoplay>
      <source src="http://66.90.93.122/ost/street-fighter-2-turbo/qvifdxccss/02.-player-select.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </head>

  <body>
    <h2 id="player1_label" style="">Player 1</h2>
    <h2 id="player2_label" >Player 2</h2>

    <div id="sign_in_form_wrapper">
      <form id="sign_in_form" action='/fight' method = 'post'>
        <input id="player1_input" class="player_input" type="text" name="player1" placeholder="Enter Name">
        <input id="player2_input" class="player_input" type="text" name="player2" placeholder="Enter Name">
        <div id="fight_button_wrapper"><input id="fight_button" type="submit" value="Fight!"></div>
      </form>
    </div>

  </body>

</html>
