<html>
  <div>
    <%= $player1.player_name %> gets <%= $player1.player_hp %> HP<br>
    <%= $player2.player_name %> gets <%= $player2.player_hp %> HP<br><br>
    <form action="/fight" method="get">
      <input type="submit" value="FIGHT!">
    </form>
  </div>
</html>
