<html>
  <div>
    <%= @player1 %> gets <%= @hp_player1 %> HP<br>
    <%= @player2 %> gets <%= @hp_player2 %> HP<br><br>
    <form action="/fight" method="get">
      <input type="submit" value="FIGHT!">
    </form>
  </div>
</html>
